<div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list">
      <li>
        <a routerLink="/category/1" routerLinkActive="active-link"
          >Cricket Bats</a
        >
      </li>
      <li>
        <a routerLink="/category/2" routerLinkActive="active-link"
          >Cricket Balls</a
        >
      </li>
      <li>
        <a routerLink="/category/3" routerLinkActive="active-link"
          >Cricket Pads</a
        >
      </li>
      <li>
        <a routerLink="/category/4" routerLinkActive="active-link"
          >Cricket Gloves</a
        >
      </li>
    </ul>
  </nav>
</div>
